<div class="reply">
<div class="name"><b>"<%= r.company.name %>"</b> replied</div>

<div class="content"><%= r.content %></div>
<div class="time"><%= time_ago_in_words(r.created_at).capitalize %> ago</div>
</div>
