<Legend> Contractor Relationships </legend>
<div style="padding-bottom: 10px;">
	<p> <b> Contract Information </b></p>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#collapseOne" data-parent="#accordion2" data-toggle="collapse"> Contract Creation </a>
		</div>
			<div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
				<div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
			</div>
	</div>
	<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse"> Contract Signing </a>
			</div>
				<div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
			</div>
		</div>
	</div>
</div>
<div>
	<p> <b> Insurance Information </b></p>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#collapseIOne" data-parent="#accordionI2" data-toggle="collapse"> Why Insurance is Important </a>
		</div>
			<div id="collapseIOne" class="accordion-body collapse" style="height: 0px;">
				<div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
			</div>
	</div>
	<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href="#collapseITwo" data-parent="#accordion3" data-toggle="collapse"> How to Get Contractor Insurance </a>
			</div>
				<div id="collapseITwo" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
			</div>
	</div>
	<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href="#collapseI3" data-parent="#accordion3" data-toggle="collapse"> How to Renew Insurance </a>
			</div>
				<div id="collapseI3" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
			</div>
	</div>
</div>
<div>
	<p> <b> Contractor License </b></p>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href="#collapseLOne" data-parent="#accordionL2" data-toggle="collapse"> What is a Contractor License? </a>
		</div>
			<div id="collapseLOne" class="accordion-body collapse" style="height: 0px;">
				<div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
			</div>
	</div>
	<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href="#collapseLTwo" data-parent="#accordion3" data-toggle="collapse"> Benefits of having a License </a>
			</div>
				<div id="collapseLTwo" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
			</div>
	</div>
	<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href="#collapseL3" data-parent="#accordion3" data-toggle="collapse"> How to Get a License </a>
			</div>
				<div id="collapseL3" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
			</div>
	</div>
	<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" href="#collapseL4" data-parent="#accordion3" data-toggle="collapse"> How to Renew a License </a>
			</div>
				<div id="collapseL4" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
			</div>
	</div>
</div>
	
